.product {
  padding-block: 6rem;
  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80%;
    }
  }
  .product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    .product-text {
      width: 80%;
      h4 {
        font-size: 3rem;
      }
      small {
        color: #a9af55;
      }
      .money {
        color: #a9af55;
        font-size: 2rem;
        span {
          font-size: 1.5rem;
        }
      }
      .description {
        margin-block: 1.5rem;
      }
    }

    .product-counter {
      .counter-value {
        color: #707070;
        border-color: #707070;
        border-left: none;
        border-right: none;
      }
      .counter-button-right {
        color: #707070;
        border-color: #707070;
        border-left: none;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
      .counter-button-left {
        color: #707070;
        border-color: #707070;
        border-right: none;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
    }
    .add-to-cart {
      background-color: #cbd185;
      border-radius: 46px;
    }

    @media (width < 768px) {
      .product-text {
        h4 {
          margin-block-start: 0.5rem;
          font-size: 2rem;
        }
        .money {
          color: #a9af55;
          font-size: 1.5rem;
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.product:nth-child(even) {
  background-color: #e2e9e2;
  flex-direction: row-reverse;
}
